.list {
  list-style: none;
}
.item {
  display: flex;
  margin-bottom: 5px;
}
.itemLink {
  cursor: pointer;
  text-decoration: none;
}

.thumbBtn {
  display: flex;
  justify-content: center;
}

.linkBtn {
  text-decoration: none;
}

.btn {
  margin-right: 5px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}
.colorBox {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 50%;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
