.list {
  list-style: none;
}
.item {
  display: flex;
  margin-bottom: 5px;
}
.itemLink {
  cursor: pointer;
  text-decoration: none;
}

.thumbBtn {
  display: flex;
  justify-content: center;
}
.btn {
  margin-right: 5px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}
